%div.row
  %div
    = form_for :session, url: login_path do |f|
      .field
        = f.label :email, 'メールアドレス'
        = f.text_field :email
      .field
        = f.label :password, 'パスワード'
        = f.password_field :password
      .field
        = f.label :remember_me, 'チェックボックス'
        = f.check_box :remember_me
        %p Remember me on this computer
      .actions
        = f.submit 'ログイン'

    = link_to '新規登録', new_user_path
