= form_for @user do |f|
  .field
    = f.label :name, 'ユーザー名'
    = f.text_field :name
  .field
    = f.label :email, 'メールアドレス'
    = f.text_field :email
  .field
    = f.label :password, 'パスワード'
    = f.password_field :password
  .field
    = f.label :password_confirmation, 'パスワード再入力'
    = f.password_field :password_confirmation
  .actions
    = f.submit 'ユーザー登録'
